<template name="actionBarTpl">
    <div class="container">
        <div class="form-group">
            {{tt}}
            <div class="input-group">
            <input id="txt_content"
                    class="form-control"
                   placeholder={{_ "common.searchHolder"}}
            >
                <div class="input-group-btn">
                    <button id="bt_search" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</template>